---
import { getCollection, getEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

const blogEntries = await getCollection("blog");
---

<BlogLayout title="Blogs">
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li class="w-72 mb-8">
          <a href={`/blog/${blogPostEntry.slug}`}>
            <img
              transition:name={"img-" + blogPostEntry.slug}
              src={blogPostEntry.data.image}
            />
            <h1
              transition:name={"title-" + blogPostEntry.slug}
              class="text-2xl"
            >
              {blogPostEntry.data.title}
            </h1>
            <span class="text-gray-800 italic">
              {blogPostEntry.data.author.id}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</BlogLayout>
